Source: basestation-core-kinetic
Section: basestation/config
Priority: extra
Maintainer: David Feil-Seifer <dave@cse.unr.edu>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: basestation-core-kinetic
Architecture: all
Depends: python, ros-kinetic-rqt-pr2-dashboard, ros-kinetic-pr2-navigation, ros-kinetic-pr2-power-drivers, ros-kinetic-pr2-simulator, ros-kinetic-joint-qualification-controllers, ros-kinetic-pr2-bringup-tests, ros-kinetic-pr2-counterbalance-check, ros-kinetic-pr2-self-test-msgs
Description: Provides /etc/ros setup for the basestation on Kinetic
Provides: ${diverted-files}
Conflicts: ${diverted-files}
